<p id="notice"><%= notice %></p>

<h1>Listing Monas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monas.each do |mona| %>
      <tr>
        <td><%= link_to 'Show', mona %></td>
        <td><%= link_to 'Edit', edit_mona_path(mona) %></td>
        <td><%= link_to 'Destroy', mona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mona', new_mona_path %>
